<% provide :title, t(".help") %>
<h1><%= t(".help") %></h1>
<p>
  <%= t(".help_phrase1") %>
  <a href="http://www.railstutorial.org/help"><%= t(".help_section") %></a>.
  <%= t(".help_phrase2") %>
  <a href="http://www.railstutorial.org/book"><em><%= t("ruby_slogan") %></em>
  <%= t("book") %></a>.
</p>
